{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block title %}{{ object.title }} - Blog{% endblock %}

{% block content %}
<!-- Post content-->
<article>
    <!-- Post header-->
    <header class="mb-4">
        <!-- Post title-->
        <h1 class="fw-bolder mb-1">{{ object.title }}</h1>

        {% if object.category %}
            <span class="badge bg-primary" style="float: right;">{{ object.category }}</span>
        {% else %}
            <span class="badge bg-primary" style="float: right;">미분류</span>
        {% endif %}

        <p class="lead">
            by
            <a href="#">{{ object.author.username }}</a>
        </p>
        {% if request.user == object.author %}
            <button type="button" class="btn btn-sm btn-outline-secondary" style="float: right;" onclick="location.href='{{ object.get_update_url }}'">EDIT</button>
        {% endif %}


        <!-- Post meta content-->
        <div class="text-muted fst-italic mb-2">Posted on {{ object.created }}</div>
        <hr>
        <!-- Post categories-->
        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
    </header>
    <!-- Preview image figure-->
    {% if object.head_image %}
    <figure class="mb-4"><img class="img-fluid rounded" src="{{ object.head_image.url }}" alt="{{ object.title }}" /></figure>
    {% endif %}
    <!-- Post content-->
    {{ object.get_markdown_content | safe }}

    <br/>
    {% for tag in object.tags.all %}
        <a href = "{{ tag.get_absolute_url }}">#{{ tag }}</a>
    {% endfor %}


</article>
<!-- Comments section-->
<section class="mb-5">
    <div class="card bg-light">
        <h5 class="card-header" >Leave a Comment</h5>
        <div class="card-body">
            <!-- Comment form-->
            <form class="mb-4" method="post" action="{{ object.get_absolute_url }}new_comment/">{% csrf_token %}
                <div class="form-group">
                    {{ comment_form | crispy}}
                </div>
                <br><button type = "submit" class = "btn btn-sm btn-primary" >Submit</button>
            </form>

            <div id = "comment-list">
                <!-- Single comment-->
                {% for comment in object.comment_set.all %}
                <div class="d-flex" id="comment-id-{{ comment.pk }}">
                    <div class="flex-shrink-0">
                        <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                    <div class="ms-3">
                        {% if comment.author == request.user %}
                        <button class="btn btn-sm btn-info" >edit</button>
                        <button class="btn btn-sm btn-warning" >delete</button>
                        {% endif %}
                        <div class="fw-bold">{{ comment.author }} <small class="text_muted">{{ comment.created_at }}</small></div>
                        {{ comment.get_markdown_content | safe }}
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>
{% endblock %}