{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block title %}{{ object.title }} - Blog{% endblock %}

{% block content %}
<!-- Post content-->
<article>
    <!-- Post header-->
    <header class="mb-4">
        <!-- Post title-->
        <h1 class="fw-bolder mb-1">{{ object.title }}</h1>

        {% if object.category %}
            <span class="badge bg-primary" style="float: right;">{{ object.category }}</span>
        {% else %}
            <span class="badge bg-primary" style="float: right;">미분류</span>
        {% endif %}

        <p class="lead">
            by
            <a href="#">{{ object.author.username }}</a>
        </p>
        {% if request.user == object.author %}
            <button type="button" class="btn btn-sm btn-outline-secondary" style="float: right;" onclick="location.href='{{ object.get_update_url }}'">EDIT</button>
        {% endif %}


        <!-- Post meta content-->
        <div class="text-muted fst-italic mb-2">Posted on {{ object.created }}</div>
        <hr>
        <!-- Post categories-->
        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
    </header>
    <!-- Preview image figure-->
    {% if object.head_image %}
    <figure class="mb-4"><img class="img-fluid rounded" src="{{ object.head_image.url }}" alt="{{ object.title }}" /></figure>
    {% endif %}
    <!-- Post content-->
    {{ object.get_markdown_content | safe }}

    <br/>
    {% for tag in object.tags.all %}
        <a href = "{{ tag.get_absolute_url }}">#{{ tag }}</a>
    {% endfor %}


</article>
<!-- Comments section-->
<section class="mb-5">
    <div class="card bg-light">
        <h5 class="card-header" >Leave a Comment</h5>
        <div class="card-body">
            {% if request.user.is_authenticated %}
            <!-- Comment form-->
            <form class="mb-4" method="post" action="{{ object.get_absolute_url }}new_comment/">{% csrf_token %}
                <div class="form-group">
                    {{ comment_form | crispy}}
                </div>
                <br><button type = "submit" class = "btn btn-sm btn-primary" >Submit</button>
            </form>
            {% else %}
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#loginModal">
                    Log In
                </button>
                <br/>
            </div>
            {% endif %}

            <div id = "comment-list">
                <!-- Single comment-->
                {% for comment in object.comment_set.all %}
                <div class="d-flex" id="comment-id-{{ comment.pk }}">
                    <div class="flex-shrink-0">
                        {% if comment.author.socialaccount_set.all.0.get_avatar_url %}
                            <img width="50px" class="rounded-circle" src="{{ comment.author.socialaccount_set.all.0.get_avatar_url }}" alt="..." /></div>
                        {% else %}<!-- 아래,, 페이지가 안 뜸 ㅠㅠ 살짝보류..-->
                            <img width="50px" class="rounded-circle" src="https://api.adorable.io/avatars/285/{{ comment.author }}.png" alt="..." /></div>
                        {% endif %}
                    <div class="ms-3">
                        {% if comment.author == request.user %}
                        <button class="btn btn-sm btn-info" onclick="location.href='/blog/edit_comment/{{ comment.pk }}/'">edit</button>
                        <button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#deleteCommentModal-{{ comment.pk }}">delete</button>
                        {% endif %}
                        <div class="fw-bold">{{ comment.author }} <small class="text_muted">{{ comment.created_at }}</small></div>
                        {{ comment.get_markdown_content | safe }}
                    </div>
                </div>
                {% endfor %}
            </div>


            {% for comment in object.comment_set.all %}
                {% if user == comment.author %}
                    <div class="modal fade" id="deleteCommentModal-{{ comment.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">정말로 삭제하시겠습니까?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>{{ comment.get_markdown_content | safe }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" onclick="location.href='/blog/delete_comment/{{ comment.pk }}/'">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>
</section>
{% endblock %}