{% extends 'basecamp/base_full.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1 class="my-3">About Me</h1>
                <h3 class="my-3">안녕하세요. 개발자 WR 입니다.</h3>

                <h5>새로운 일을 기다리고 있습니다.</h5>
                <br/>
                <br/>
                <p>나눈 귀여움을 담당하고 잇지. 개발은 우리 눈나가 대신 해줄걸?</p>
                <p>그래도 나한테 연락하고 시프면 아래로 부타캐 >_< !</p>
                <p>이것도 눈나가 대신 대답해줄거야 히히희흐헤헤</p>
                <br/>
                <br/>
            </div>
            <div class="col-md">
                <img class="img-fluid" src="{% static 'basecamp/images/wr.jpg' %}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid" src="{% static 'basecamp/images/wr_pic.jpg' %}"/>
            </div>
            <div class="col-md">
                <h1 class="my-3">Contact Me</h1>
                <h5>Email: <small>woorively@gamil.com</small></h5>
                <h5>Instagram: <small>@woorively</small></h5>
            </div>
        </div>
    </div>

{% endblock %}