<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" id="navbar">
    <div class="container">
        <a href="/" class="navbar-brand">WR Lab.</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/blog/">blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about_me/">About Me</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-md-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="download">{{ user }} <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="download">
    <!--                        <a class="dropdown-item" rel="noopener" target="_blank" href="https://jsfiddle.net/bootswatch/1uvdsae4/">Open in JSFiddle</a>-->
    <!--                        <div class="dropdown-divider"></div>-->
    <!--                        <a class="dropdown-item" href="../5/simplex/bootstrap.min.css" download>bootstrap.min.css</a>-->
    <!--                        <a class="dropdown-item" href="../5/simplex/bootstrap.css" download>bootstrap.css</a>-->
    <!--                        <div class="dropdown-divider"></div>-->
    <!--                        <a class="dropdown-item" href="../5/simplex/_variables.scss" download>_variables.scss</a>-->
                            <a class="dropdown-item" href="/accounts/logout/">Log Out</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">
                            Log In
                        </button>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% load socialaccount %}

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please Log In</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <a role="button" class="btn btn-outline-primary" href="{% provider_login_url 'google' %}"><i class="fab fa-google"></i>  Log In with google</a>
                        <a role="button" class="btn btn-outline-info" href="/accounts/login/"><i class="far fa-envelope"></i>  Log In with Email</a>
                    </div>
                    <div class="col-md-6">
                        <a role="button" class="btn btn-outline-info" href="/accounts/signup/"><i class="far fa-envelope"></i>  Sign Up with Email</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>